<%= link_to 'Log Out', logout_path %><br>

<%= link_to 'New Task List', new_task_list_path %>

<% @user.task_lists.each do |list| %>
	<div class="task-list" data-id="<%= list.id %>">
		<h3><%= list.title %></h3><%= link_to 'Change Details', edit_task_list_path(list)	 %> <%= link_to 'Remove List', task_list_path(list), method: :delete %><br>
		<span>Filter tasks in this list by title:</span><input type="text" class="filter-name"></input>
		<% list.tasks.each do |task| %>
			<div class="task <%= 'hide' if task.complete? || task.future? %>" data-id="<%= task.id %>" data-status='<%= task.complete? %>'>
				<h4 class="task-title"><%= task.title %></h4>
				<span class="status"><%= task.display_complete %></span> <button class="task-status">Toggle Status</button>
				<p><%= task.friendly_start_date %></p>
				<p>Due on <%= task.due %></p>
				<p><%= task.notes %></p>
				<%= link_to 'Change Task Details', edit_task_path(task) %>
			</div>
		<% end %>
		<br><button class="show-all">Show All Tasks</button>
		<br><%= link_to 'Add Task', new_task_list_task_path(list) %>
	</div>
<% end %>