<h2>New Task</h2>

<%= form_for @task do |f| %>
	<%= f.label :title, "Title:" %>
	<%= f.text_field :title %><br>
	<%= f.label :start, "Starts on:" %>
	<%= f.date_select :start %><br>
	<%= f.label :due, "Due on:" %>
	<%= f.date_select :due %><br>
	<%= f.label :notes, "Notes:" %>
	<%= f.text_area :notes %><br>
	<%= f.label :attachment, "Attach a file:" %>
	<%= f.file_field :attachment %><br>
	<%= f.hidden_field :task_list_id, value: params[:task_list_id] %>
	<%= f.submit "Create" %>
<% end %>